body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,p{margin:0;padding:0;}
li{list-style:none;}

body {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  background-color: #286ACD;
  color: #fff;
}

h1, h2, h3, h4 {
  font-family: 'Open Sans', sans-serif;
}

a {
text-decoration: none;
color: inherit;
}

a:hover {
  color: inherit;
}

li h3 {
  font-size: 24px;
  /* color: #79DEEC; */
  float: left;
  margin-right: 15px;
}

ul.info{
width: 500px;
padding: 0;
margin: 10px 0 0 0;
float: left;
}

ul.info li {
margin-bottom: 20px;
clear: both;
float: left;
}

ul.info li p {
font-size: 14px;
line-height: 20px;
padding-top: 3px;
color: #fff;
float: left;
margin: 0;
}

ul.info li p.social a.tw{
width: 28px;
height: 28px;
background: url(../images/social.png) left bottom no-repeat;
margin-right: 8px;
float: left;
}

ul.info li p.social a.fb{
width: 28px;
height: 28px;
background: url(../images/social.png) -36px bottom no-repeat;
float: left;
margin-right: 8px;
}

ul.info li p.social a.li{
width: 28px;
height: 28px;
background: url(../images/social.png) -72px bottom no-repeat;
float: left;
}
